.resume-section p {
	margin-bottom: 1.2em;
}

body {
	padding: 0;
	margin: 0;
  font-size: 15px;
  line-height: 21px;
	color: #333333;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	position: relative;
	background-color: #FFFFFF;
	background-image: url('../images/02.png');
	background-attachment: fixed;
}

a,a:hover,a:active,a:visited {
	color: #000000;
}

#content {
	padding: 5.9em;
	margin-top: 1em;
	padding-top: 3em;
	padding-bottom: 5em;
	margin-bottom: 3em;
	position: relative;
	width: 52em;
	margin-left: auto;
	margin-right: 5%;
	background-color: #FFFFFF;
	border-top-right-radius: 100px;
	border-bottom-left-radius: 100px;
	color: #333333;
}

#list_cont {
	padding: 0;
	margin: 0; 
}

.bullet li {
	background-repeat: no-repeat;
	background-position: 0px 1px;
}

#main {
	margin: 0;
	padding: 5em;
	padding-top: 2em;
	padding-bottom: 0;
}
#header { 
	padding-top: 2em;
	padding-bottom: 0.75em;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3em;
	letter-spacing: -2px;
}



#header, #nav {
	display: block;
}
#nav ul {
	display: inline;
	list-style: none;
	padding-left: 0;
	font-weight: bold;
}

#nav li {
	display: inline;
	padding-right: 1em;
	font-size: 14pt;
	letter-spacing: -1px;
}

#nav a {
}

#nav {
	display: inline;
	position: absolute;
	top: 2.7em;
	right: 0;
}

h1 {
	font-size: 2.4em;
	text-style: normal;
}

h2 {
	font-size: 1.4em;
	text-style: normal;
}

.resume-section {
	margin-bottom: 3em;
	padding-left: 2em;
} 

.resume-section h2 {
	margin-left: -1em;
	padding-bottom: 0.25em;
	border-bottom: 1px dotted #AAA;
}

.resume-section ul {
	margin-bottom: 2.6em;
}

.blog_post {
	margin-bottom: 4.5em;
	position: relative;
  font-size: 15px;
  line-height: 21px;
}

.blog_post p {
	padding-left: 0.15em;
	margin-bottom: 1em;
	}

.blog_post blockquote, .blog_post pre {
	font-size: 10pt;
	overflow-x: auto;
	overflow-y: hidden;
	margin: 3em;
	padding: 0;
	padding-bottom: 1em;
	border-bottom: 1px dotted #AAA;
	width: 50em;
	color: #000;
}

.blog_post pre {
	font-family: 'Anonymous Pro', monospace;
	}

.blog_post h1 {
	margin-bottom: 1em;
	padding-right: 2em;
}

.blog_post h1 a {
	line-height: 1.1em;
	text-decoration: none;
	color: #333;
}


.blog_footer {
	font-size: 11pt;
	padding-left: 0.15em;
	color: #151515;
}

#header h1 {
	display: inline;
	font-size: 50px;
}

#header a, #header a:visited, #header a:hover,
#header a:active {
	color: #333;
	text-decoration: none;
}

#header h1 a, #header h1 a:visited, #header ah1 a:hover,
#header h1 a:active {
	color: inherit;
}

#pagination {
	position: relative;
	margin-top: 0;
	padding-bottom: 1em;
	font-weight: bold;
	margin-bottom: 1em;
	font-size: 16px;
}

#prev {
	position: absolute;
	left: 0;
}

#next {
	position: absolute;
	right: 0;
}

#derek {
	padding: 0;
	-webkit-border-radius: .125em;
	-moz-border-radius: .125em;
	border-radius: .125em;
	background-image: url('/images/derek.png');
	width: 51em;
	height: 14em;
	bg-size: 100% 100%;
	margin-bottom: 2em;
}

.about {
	margin-bottom: 1em;
	padding-right: 1em;
}

#byline {
	clear: both;
}

.plusone-container {
	position: absolute;
	top: 0;
	right: -74px;
}

#search-terms {
	line-height: 2.5em;
}

.left-body {
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
}

.right-body {
	float: right;
	margin-left: 1em;
	margin-bottom: 1em;
}

