{{define "body"}}
<div id="derek">
</div>

<div class="about">
		I'm a web developer in Des Moines, IA, and am a nearly lifelong Iowa resident. I'm been futzing with code since I was a kid and
		couldn't do anything else even if I wanted to. In addition to programming I'm kind of a crazy person when it comes to databases.
		Or just a crazy person.
</div>

<div class="about">
		I've written some things I like and they're up on <a href="http://github.com/lysol">Github</a>. Some of the languages and technology
	 	I've used or written code for includes Python, PHP, PostgreSQL, Node.js, Coffeescript, and Go. 
</div>

<div class="about">
		Sometimes I complain about things on <a href="http://twitter.com/DerekArnold">Twitter</a> and <a href="https://plus.google.com/116930629309961812144/posts">Google+</a>.
</div>

<div class="about">
		Derek Arnold<br />
		derek<span style="display: none;">remove this</span>@derekarnold.net
</div>
{{end}}