{{define "base"}}
<!DOCTYPE html>
  <html>
    <head>
    <title>Derek Arnold | {{.CurrentNav.Name}}</title>
      <meta charset="utf-8" />
        <meta name="description" content="Derek Arnold, a person from Iowa." />
        <meta name="keywords" content="derek arnold,derek,arnold,lysol,iowa,des moines" />
        <meta name="google-site-verification" content="r_BkAkM4qxgWUrrvcS2981DR6W14Eeja59efnHNBRJ8" />
        <meta name=”ROBOTS” content=”NOODP”>
        <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://derekarnold.net/rss/" />
        <link rel="icon" href="/favicon.png" />
        <link href="http://fonts.googleapis.com/css?family=Average Sans|Anonymous Pro&v2" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
    </head>

    <body>
      <div id="content">
          <div id="header"><h1><a href="/">Derek Arnold</a></h1>
              <div id="nav">
                <ul>
                    {{with $outer := .}}
                    {{range .Navs}}
                        {{if ne $outer.CurrentNav.Token .Token}}
                            <li><a href="/{{.Token}}">{{.Name}}</a></li> 
                        {{else}}
                        <li><b>{{.Name}}{{if eq $outer.CurrentNav.Token ""}}{{if gt $outer.Page 1}} &middot; Page {{$outer.Page}}{{end}}{{end}}</b></li>
                        {{end}}
                    {{end}}
                    {{end}}
                </ul>
              </div>
          </div>         
      {{template "body" .}}
      </div>
          <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-658194-15']);
            _gaq.push(['_trackPageview']);

            (function() {
               var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
               ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
               var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

          </script>

    </body>
  </html>
{{end}}